.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 900px;
  gap: 1rem;
}

.about-img {
  position: relative;
}

.about-img img {
  max-width: 25rem;
  width: 100%;
  border-radius: 2rem;
  filter: grayscale(100%) brightness(1.4);
}

.about-boxes {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.about-box {
  border: 1px solid var(--main-text);
  border-radius: 2rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-box ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 0.5rem;
}

.about-box ul li::after {
  content: ",";
}

/* .about-box ul li:nth-child(2n-1) {
  text-align: right;
} */

.about-box span:nth-child(2n) {
  margin-bottom: 1rem;
}

.about-content p {
  text-indent: 3rem;
  line-height: 1.5;
  padding: 0 3rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .about-container {
    flex-direction: column;
    gap: 2rem;
  }

  .about-content {
    width: 90%;
  }

  .about-img img {
    max-width: 20rem;
  }

  .about-boxes {
    flex-direction: column;
    gap: 2rem;
  }

  .about-box {
    width: 100%;
  }
}
