.home-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  gap: 2rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-image::before {
  content: "";
  position: absolute;
  width: 101%;
  height: 101%;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, var(--accent) 100%);
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  filter: drop-shadow(0 0 0.4rem var(--accent));
  z-index: -1;
}

.home-image img {
  max-width: 25rem;
  width: 100%;
  border-radius: 50%;
}

.home-buttons {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.home-buttons .btn {
  font-size: 0.7rem;
  width: 100px;
  text-align: center;
  background-color: var(--main-text);
  color: var(--main-bg);
  border: 1px solid var(--main-bg);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.home-buttons .btn:nth-child(2n) {
  background-color: var(--main-bg);
  color: var(--main-text);
  border: 1px solid var(--main-text);
}

.home-buttons .btn:hover {
  background-color: var(--main-text);
  background-color: var(--accent);
  border: 1px solid var(--main-bg);
}

.home-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.home-icons .btn {
  text-decoration: none;
  color: var(--main-text);
  font-size: 2rem;
  transition: background-color 0.3s, color 0.3s;
}
.home-icons .btn:hover {
  color: var(--accent);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }

  .home-image::before {
    width: 101%;
    height: 101%;
  }

  .home-image img {
    max-width: 20rem;
  }

  .home-buttons {
    grid-template-columns: 1fr;
  }
}
