.project-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.project-info {
  /* cursor: pointer; */
}

.project-box {
  border: 1px solid var(--main-text);
  border-radius: 0.7rem;
  padding: 0.5rem 2rem 0.7rem;
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 2fr 1fr 40px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  align-items: center;
  place-items: center;
  gap: 1rem;
  width: 40vw;
  max-width: 500px;
  box-shadow: var(--main-shadow);
}

.project-box:hover {
  border: 1px solid var(--accent);
}

.project-box h4 {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.project-box p {
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

.project-box img {
  width: 80%;
  border-radius: 0.7rem;
}

.project-box .buttons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  div {
    position: relative;
    display: flex;
    gap: 1rem;
  }
  div:nth-child(2)::after {
    position: absolute;
    top: -0.75rem;
    left: -10%;
    content: "";
    display: block;
    width: 120%;
    height: 1.5px;
    background-color: var(--accent);
  }
}

.project-box .buttons a {
  background-color: var(--main-text);
  color: var(--main-bg);
  text-decoration: none;
  padding: 0.3rem 1rem;
  border: 1px solid var(--main-text);
  border-radius: 0.5rem;
  transition: background-color 0.3s;
  text-align: center;
}

.project-box .buttons a:nth-child(2n-1) {
  background-color: var(--main-bg);
  color: var(--main-text);
  border: 1px solid var(--main-text);
}

.project-box .buttons a:hover {
  background-color: var(--accent);
  border: 1px solid var(--main-bg);
  color: var(--main-text);
}

@media screen and (max-width: 768px) {
  .project-boxes {
    grid-template-columns: 1fr;
  }

  .project-box {
    width: 80vw;
  }
}
